body {
    margin: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

input {
    width: 100%;
    max-width: 320px;
    padding: 8px;
    font: inherit;
    letter-spacing: inherit;
}

button {
    display: inline-flex;
    padding: 4px;
    margin-right: 2px;
    margin-left: 2px;
}